{% extends 'base.html.twig' %}

{% block title %}Hello GroupController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

  <div class="example-wrapper">
    <ul>
      {% for group in groups %}
        <a href="{{ path('group_delete',{'id': group.id}) }}">Delete</a>
        <a href="{{ path('group_update',{'id':group.id}) }}">update</a>



        <span>Group :</span>
        <li>id : {{ group.id }} <br>
            creator id : {{ group.creatorId }} <br>
            name : {{ group.getName }} <br>
          membres : {% for user in  group.getUsers %}


            {{ user.pseudo  }}
            {%  if group.creatorId == user.id %}
              (ADMIN)
            {% endif %}
            ---
          {% endfor %}
        </li>


      {% endfor %}
    </ul>

  </div>
{% endblock %}
