{% extends 'base.html.twig' %}

{% block title %}Hello GroupController!{% endblock %}

{% block body %}

  <div class="example-wrapper">
    <ul>
        <p><a href="{{ path('group_new') }}">Créer un groupe</a></p>
      {% for group in groups %}
        <a href="{{ path('group_delete',{'id': group.id}) }}">Delete</a>
        <a href="{{ path('group_update',{'id':group.id}) }}">update</a>


        <span>Group :</span>
        <li>id : {{ group.id }} <br>
            creator id : {{ group.creatorId }} <br>
            name : {{ group.getName }} <br>
             membres : {% for user in  group.users %}
                       {% if user.id is defined  %}
                            {{ user.pseudo  }}
                            {%  if group.creatorId == user.id %}
                              (ADMIN)
                            {% endif %}
                       {% endif %}
            ---
                       {% endfor %}
           <br>
            projects : {% for project in  group.projects %}
                        {% if project.id is defined  %}

                        {{ project.id  }}
                            ---{{ project.name }}
                        {% endif %}
                        ---
                      {% endfor %}
        </li>


      {% endfor %}
    </ul>

  </div>
{% endblock %}
