{% extends 'base.html.twig' %}

{% block title %}Hello ProjectController!{% endblock %}

{% block body %}


    <div class="example-wrapper">
        <ul>
            <p><a href="{{ path('project_new') }}">Créer un projet</a></p>


            {% for project in projects %}


                <li>Nom : {{ project.getName }}
                </li>
                <li>Description : {{ project.getDescription }}</li>
                <li><a href="{{ path('project_update',{'id': project.id}) }}">Modifier</a></li>
                <li><a href="{{ path('project_delete',{'id': project.id}) }}">Supprimer</a></li>


            {% endfor %}
        </ul>

    </div>

{% endblock %}